body{
    background-color: white;
    margin: 0;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: 0 auto;
    width: 90%;
}
header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    
}
.logo{
    float: left;
    width: 120px;
    height: 90px;
    padding: 10px 0;
}
nav{
    float: right;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-left: 48px;
    padding-top: 45px;
    position: relative;
}
nav li a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:darkgreen;
    font-size: 18px;
}
nav li a::before{
    display: block;
    content: '';
    width: 100%;
    height: 7px;
    background-color: darkgreen;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav li a:hover{
    background-color: transparent;
}
nav li a:hover::before{
    width: 100%;
}
section{
    background-color: grey;
    height: 85vh;
}
.aboutheader{
    color: darkgreen;
    text-align: center;
    font-size: 40px;
}
.dream{
    float: right;
    margin-right: 27%;
    margin-top: 2%;
    font-size: 30px
}
.aboutlogoone{
    float: left;
    margin-left: 9%;
    margin-top: 6%;
    border: black solid 1px;
}
.dreamp{
    text-align: center;
    margin-top: 9%;
    margin-left: 49%;
    margin-right: 10%;
    font-size: 17px;
}